<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>

</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span class="title">Card Downloader</span>
  <div class="spacer"></div>
</div>

<div class="content" role="main">
  <div class="columns">
    <div class="column">
      <textarea class="terminal pasted-cards" id="cards"></textarea>
    </div>
    <div class="column">
      <div class="card-container">
        <button class="card" target="_blank" rel="noopener">
          <span>Clean (TODO)</span>
          <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
          </svg> 
        </button>
      </div>
      <div class="card-container">
        <button class="card" target="_blank" rel="noopener" (click)="downloadPaths()">
          <span>Download MTG Cards</span>
          <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
          </svg> 
        </button>
      </div>
      <div class="card-container">
        <button class="card" target="_blank" rel="noopener">
          <span>Download Other Cards</span>
          <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
          </svg> 
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="cards.length > 0" class="content">
    <p>Click "PRINT" if you are satisfied with cards:</p>
    <div class="card-container">
      <button class="card" target="_blank" rel="noopener">
        <span>PRINT</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
        </svg> 
      </button>
    </div>
    <div class="cards-preview">
      <img *ngFor="let card of cards" src="{{card.path}}" class="card-preview"/>
    </div>
  </div>
</div>